<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SuperHero Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="Home" class="text-dark">SupeHero Sighting Manager</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                  <a href="Superpowers" class="btn btn-outline-primary btn-lg">SuperPowers</a>
             </div>
            <div class="col text-center m-3">
                <a href="Heros" class="btn btn-outline-primary btn-lg">SuperHero/Villain</a>
            </div>
            <div class="col text-center m-3">
                <a href="Organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Sightings" class="btn btn-outline-primary btn-lg">Sights</a>
            </div>
        </div>
    </div>  
                <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add SuperHero</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addHero" method="POST">
                        <div class="form-group row">
                            <label for="Name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="Name" 
                                       id="Name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Superpowerid" class="col-3 col-form-label">
                                Superpowerid</label>
                            <div class="col-9">
                                <input type="text" name="Superpowerid" 
                                       id="Superpowerid" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="Description" 
                                       id="Description" class="form-control"/>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="isHero" class="col-3 col-form-label">
                                is Hero</label>
                            <div class="col-9">
                                <input type="text" name="isHero" 
                                       id="isHero" class="form-control"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add SuperHero</button>
                    </form>
                </div>
            </div>
             <br/>    <br/>
             <br/>    <br/>
                        <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add hero to Organization</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addHeroOrganization" method="POST">
                        <div class="form-group row">
                            <label for="id" class="col-3 col-form-label">
                                 id</label>
                            <div class="col-9">
                                <input type="text" name="id" 
                                       id="id" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="OrganizationID" class="col-3 col-form-label">
                                Organization ID</label>
                            <div class="col-9">
                                <input type="text" name="OrganizationID" 
                                       id="OrganizationID" class="form-control"/>
                            </div>
                        </div>         
                        <button type="submit" class="btn btn-primary">Add to Organization</button>
                    </form>
                </div>
            </div>
             <br/>    <br/>
             <br/>    <br/>
                        <br/>    <br/>
             <br/>    <br/>
                        <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Remove hero from Organization</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="deleteHeroOrganization" method="POST">
                        <div class="form-group row">
                            <label for="id" class="col-3 col-form-label">
                                Hero ID</label>
                            <div class="col-9">
                                <input type="text" name="id" 
                                       id="id" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="OrganizationID" class="col-3 col-form-label">
                                Organization ID</label>
                            <div class="col-9">
                                <input type="text" name="OrganizationID" 
                                       id="OrganizationID" class="form-control"/>
                            </div>
                        </div>         
                        <button type="submit" class="btn btn-primary">Remove from Organization</button>
                    </form>
                </div>
            </div>
             <br/>    <br/>
             <br/>    <br/>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Superpower</th>
                                <th>isHero</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>View Organizations</th>
                                 <th>View Locations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="hero : ${Heros}">
                                <td th:text="${hero.id}">Hero ID</td>
                                <td th:text="${hero.Name}">Hero  Name</td>
                                 <td th:text="${hero.Description}">Hero  Description</td>
                                <td th:text="${hero.Superpower}">Hero Superpower</td>
                                <td th:text="${hero.isHero}">is Hero</td>
                                <td><a href="#" th:href="@{/editHero(id=${hero.id})}">Edit</a></td>
                                <td><a href="#" th:href="@{/deleteHero(id=${hero.id})}">Delete</a></td>
                                <td><a href="#" th:href="@{/HeroOrganizations(id=${hero.id})}">Details</a></td>
                                <td><a href="#" th:href="@{/HeroLocations(id=${hero.id})}">Details</a></td>
                            </tr>
                        </tbody>
                    </table>
 
   
                </div>
            </div>
        </div> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>