<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SuperHero Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="Home" class="text-dark">SupeHero Sighting Manager</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                  <a href="Superpowers" class="btn btn-outline-primary btn-lg">SuperPowers</a>
             </div>
            <div class="col text-center m-3">
                <a href="Heros" class="btn btn-outline-primary btn-lg">SuperHero/Villain</a>
            </div>
            <div class="col text-center m-3">
                <a href="Organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="Sightings" class="btn btn-outline-primary btn-lg">Sights</a>
            </div>
        </div>
    </div>  
   
        <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Sighting</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="addSighting" method="POST">
                        <div class="form-group row">
                            <label for="HeroID" class="col-3 col-form-label">
                                Hero ID</label>
                            <div class="col-9">
                                <input type="text" name="HeroID" 
                                       id="HeroID" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LocationID" class="col-3 col-form-label">
                                Location ID</label>
                            <div class="col-9">
                                <input type="text" name="LocationID" 
                                       id="LocationID" class="form-control"/>
                            </div>
                        </div>
                          <div class="form-group row">
                            <label for="date" class="col-3 col-form-label">
                                Date</label>
                            <div class="col-9">
                                <input type="text" name="date" 
                                       id="date" class="form-control"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Sighting</button>
                    </form>
                </div>
            </div>
                        <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Hero Name</th>
                                <th>Location Name</th>
                                 <th>Location Adress</th>
                                 <th>Date</th>
                                 <th>Edit</th>
                                <th>Delete</th>
                                <th>view all sighting by date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sight  : ${Sightings}">
                                 <td th:text="${sight.hero.name}">Hero Name</td>
                                 <td th:text="${sight.location.name}">Location Name</td>
                                 <td th:text="${sight.location.Address}">Location Address</td>
                                 <td th:text="${sight.date}">Date</td>
                                <td><a href="#" th:href="@{/editSighting(HeroID=${sight.hero.id}, LocationID=${sight.location.id})}">Edit</a></td>
                                <td><a href="#" th:href="@{/deleteSighting(HeroID=${sight.hero.id}, LocationID=${sight.location.id})}">Delete</a></td>
                                <td><a href="#" th:href="@{/SightingInfo(date=${sight.date})}">Details</a></td>
                            </tr>
                        </tbody>
                    </table>
 
   
                </div>
            </div>
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  
</html>